[Unit]
Description=Alfons listener
After=multi-user.target

[Service]
Type=simple
ExecStart=%path%/venv/bin/python %path%/app.py
Restart=always

[Install]
WantedBy=multi-user.target
